[submodule "api"]
	path = api
	url = https://github.com/mike-stumpf/ITB-Thesis.API.git
[submodule "web"]
	path = web
	url = https://github.com/mike-stumpf/ITB-Thesis.Web
[submodule "mobile"]
	path = mobile
	url = https://github.com/mike-stumpf/ITB-Thesis.Mobile
